@import "../../scss/global.scss";

@keyframes reveal {
  0% {
    left: -100%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding-medium;
  border-bottom: 1px solid $mba-grey;
  background-color: $mba-white;
  z-index: 10;
  @include devices(computer) {
    border-bottom: none;
  }
  .outer-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .site-logo {
      flex: 0 0 auto;
      a {
        text-decoration: none;
        color: $mba-black;
        font-size: 1.25rem;
        line-height: 1;
        font-weight: 500;
      }
    }
    .mobile-menu {
      display: block;
      position: relative;
      flex: 0 0 auto;
      width: 30px;
      height: 20px;
      padding: 0;
      border: none;
      background: none;
      overflow: hidden;
      font-size: 0;
      span {
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: $mba-black;
        transform-origin: center;
        transition: .5s ease;
        &:first-child {
          top: 0;
        }
        &:nth-child(2) {
          top: calc(50% - .5px);
        }
        &:last-child {
          top: calc(100% - 1px);
        }
      }
      @include devices(ipad) {
        display: none;
      }
    }
    nav.site-navigation {
      display: flex;
      flex-flow: column nowrap;
      position: fixed;
      top: 67px;
      left: 100%;
      width: 100%;
      height: calc(100vh - 67px);
      transition: .5s ease all;
      visibility: hidden;
      justify-content: space-evenly;
      @include devices(ipad) {
        flex-flow: row nowrap;
        position: unset;
        top: unset;
        left: unset;
        width: unset;
        height: unset;
        justify-content: unset;
        background-color: unset;
        visibility: visible;
      }
      .navigation-items {
        flex: 0 1 auto;
        align-self: center;
        padding: $padding-medium;
        @include devices(ipad) {
          padding: unset;
        }
        @include devices(computer) {
          display: inline-block;
          order: 2;
        }
        a {
          display: block;
          color: $mba-white;
          text-align: center;
          font-size: 1.15rem;
          margin: 0 0 $padding-small;
          @include devices(ipad) {
            display: inline-block;
            color: $mba-black;
            margin: 0 $padding-small 0 0;
            font-size: 1rem;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
      .current-position {
        display: block;
        flex: 0 1 auto;
        padding: $padding-medium;
        text-align: center;
        @include devices(ipad) {
          display: none;   
        }
        @include devices(computer) {
          display: block;
          order: 1;
          padding: unset;
          margin-right: $padding-extra-large;
        }
        p {
          font-size: 1rem;
          line-height: 2;
          color: $mba-white;
          margin: 0;
          @include devices(computer) {
            color: $mba-black;
            line-height: 1;
          }
          span {
            display: block;
            position: relative;
            line-height: 2;
            font-weight: 500;
            @include devices(computer) {
              display: inline-block;
              line-height: 1;
              overflow: hidden;
              vertical-align: bottom;
              &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: -100%;
                width: 200%;
                height: 100%;
                background-color: $mba-white;
                border-left: 1px solid $mba-black;
                animation: 4s reveal forwards linear infinite;
                animation-delay: 1s;
              }
            }
          }
        }
      }
    }
  }
  &.navbar-active {
    .outer-container {
      .mobile-menu {
        span {
          background-color: $mba-purple;
          &:first-child {
            top: 0;
            transform: rotate(120deg);
          }
          &:nth-child(2) {
            top: calc(50% - .5px);
            width: 10px;
            left: 10px;
          }
          &:last-child {
            top: 0;
            transform: rotate(60deg);
          }
        }
      }
      nav.site-navigation {
        visibility: visible;
        transition: .5s ease all;
        background-color: $mba-purple;
        left: 0;
      }
    }
  }
}