@import "global";

body {
  padding-top: 67px;
}
.hero-section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  @include devices(computer) {
    flex-flow: row nowrap;
  }
  .left-column {
    flex: 0 1 auto;
    padding: $padding-extra-large;
    h1 {
      font-size: 1.5rem;
      line-height: 1.35;
      font-weight: 400;
      span {
        display: block;
        font-size: 3rem;
        line-height: 1.35;
        font-weight: 400;
      }
    }
    p {
      line-height: 1.5;
    }
    @include devices(computer) {
      width: 40%;
    }
  }
  .right-column {
    flex: 0 1 auto;
    padding: $padding-extra-large;
    font-size: 0;
    img {
      width: 100%;
      height: auto;
      margin: auto;
    }
    @include devices(computer) {
      width: 60%;
    }
  }
}
.biography {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column nowrap;
  background-color: $mba-grey;
  @include devices(computer) {
    flex-flow: row nowrap;
    align-items: center;
  }
  .left-column {
    flex: 0 1 auto;
    padding: 0 $padding-extra-large;
    font-size: 0;
    img {
      width: 100%;
      height: auto;
      margin: auto;
    }
    @include devices(ipad) {
      display: none;
    }
    @include devices(computer) {
      display: block;
      width: 55%;
    }
  }
  .right-column {
    flex: 0 1 auto;
    padding: $padding-extra-large;
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      span {
        font-size: 1.25rem;
        line-height: 1.5;
        text-decoration: underline;
        color: $mba-purple;
        font-weight: 500;
      }
    }
    @include devices(ipad) {
      width: 100%;
    }
    @include devices(computer) {
      width: 45%;
      p {
        font-size: 2rem;
        line-height: 1.5;
        span {
          
          font-size: 2rem;
          line-height: 1.5;
        }
      }
    }
  }
}