@import "global";

.portfolio-post {
  .hero-section {
    display: block;
    position: relative;
    width: 100%;
    .outer-container {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      @include devices(computer) {
        flex-flow: row nowrap;
      }
      .left-column {
        flex: 0 1 auto;
        padding: $padding-extra-large;
        align-self: center;
        h1 {
          font-size: 3rem;
          line-height: 1.35;
          font-weight: 400;
        }
        p {
          line-height: 1.5;
        }
        @include devices(computer) {
          width: 50%;
        }
      }
      .right-column {
        flex: 0 1 auto;
        padding: 2.5rem;
        font-size: 0;
        img {
          width: 100%;
          height: auto;
          margin: auto;
        }
        @include devices(computer) {
          width: 50%;
        }
      }
    }
  }
  .tags {
    display: block;
    position: relative;
    width: 100%;
    background-color: $mba-grey;
    .outer-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: $padding-small;
      @include devices(computer) {
        padding: $padding-large;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        li {
          flex: 0 1 auto;
          margin: $padding-extra-small;
          padding: $padding-extra-small $padding-small;
          border: 1px solid $mba-purple;
          border-radius: 8px;
          background: $mba-white;
          font-family: 1rem;
          line-height: 1;
        }
      }
    }
  }
  .website-link-container {
    display: block;
    position: relative;
    width: 100%;
    a {
      display: block;
      position: relative;
      width: 100%;
      img {
        display: block;
        width: 100%;
        height: auto;
        font-size: 0;
        pointer-events: none;
      }
      .overlay {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .9);
        transition: 300ms all cubic-bezier(0.5, 1, 0.89, 1);
        span {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 1px solid $mba-white;
          color: $mba-white;
          padding: $padding-small $padding-medium;
          font-size: 1rem;
          line-height: 1;
        }
      }
      &:hover {
        opacity: 1;
        .overlay {
          display: block;
          opacity: 1;
          visibility: visible;
          transition: 300ms all cubic-bezier(0.5, 1, 0.89, 1);
        }
      }
    }
  }
}