body {
  font-family: 'spartan', Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.25;
}

body, 
p,
span,
a {
  font-size: 15px;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: .8;
  cursor: pointer;
}


h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}